<!DOCTYPE html>
 <html lang="ru">

 <head>
     <title>Sister’s Family Beauty Studio</title>
     <!-- Meta Tags -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="keywords" content="Sister’s Family Beauty Studio, салон красоты, студия красоты, шугаринг, наращевание ресниц,
           наращевание бровей, маникюр, педикюр, чистка лица, массаж лица, перманентный макияж, ламинирование бровей, ламинирование ресниц,
            курсы макияжа, курсы перманентного макияжа, курсы по маникюру, курсы ламинирование бровей, курсы ламинирование ресниц, курсы шугаринга " />
     <script type="application/x-javascript">
         addEventListener("load", function () {
             setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
             window.scrollTo(0, 1);
         }
     </script>
     <!-- //Meta Tags -->
     <!-- Style Sheets -->
     <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
     <!--// Bootstrap-CSS -->
     <link href="~/css/font-awesome.css" rel="stylesheet">
     <!--// Font-Awesome-CSS -->
     <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
     <!-- //Style Sheets -->
     <link href="~/css/wow.min.css" rel="stylesheet" />
     <link
       
     />
    
     <!-- web-fonts -->
     <link href="~/fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
     <link href="~/fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
     <!--// web-fonts -->
 </head>


 <body>
     <!-- banner -->
     <div class="banner-1 jarallax" id="home">
         <img class="jarallax-img" src="~/images/678.jpg" alt="">
         <header>
             <div class="container">
                 <div class="header-bottom-agileits">
                     <div class="w3-logo" >
                         <img src="~/images/logo.png" height="175" />
                     </div>
                     <div class="nav-contact-w3ls">
                         <div style="        display: flex;

        justify-content: space-around;
        align-content: flex-end;
        flex-direction: column;
        align-items: center;
">
                             <p><a href="tel:+380636888072" style="color: black">+38(063)6888072</a></p>

                             <p style="margin-left: 25px; color: black" class="para-y"><a href="mailto:monastirska15032012@gmail.com" style="color: black">Email</a><span class="fa fa-envelope-o" style="color: black" aria-hidden="true"></span></p>
                         </div>
                         <div style="        display: flex;

        justify-content: space-around;
        align-content: flex-end;
        flex-direction: column;
        align-items: center;
">
                             <a style="color: black" href="@Url.Action("CartIndex", "Home")"><i class="fa-cart-arrow-down fa" style="color: black"></i></a>
                             <p class="para-y" style="color: black; margin-top: 0px"> @Html.Action("Summary", "Home")</p>
                         </div>



                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
         </header>
         <!-- navigation -->
         <div class="nav-bg">
             <div class="container">
                 <nav class="navbar navbar-default shift">
                     <!-- Brand and toggle get grouped for better mobile display -->
                     <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                 aria-expanded="false">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                         </button>

                     </div>

                     <!-- Collect the nav links, forms, and other content for toggling -->
                     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                         <ul class="nav navbar-nav">
                             <li><a>@Html.ActionLink("Главная", "Index", "Home", new { @class = "nav__link" })</a></li>
                             <li><a>@Html.ActionLink("Магазин", "List", "Books", new { @class = "nav__link" })</a></li>
                             <li><a>@Html.ActionLink("Школа", "School", "Home", new { @class = "nav__link" })</a></li>
                             <li><a>@Html.ActionLink("Услуги", "Services", "Home", new { @class = "nav__link" })</a></li>
                             <li><a>@Html.ActionLink("Прайс", "PriceList", "Home", new { @class = "nav__link" })</a></li>
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Информация<b class="caret"></b></a>
                                 <ul class="dropdown-menu agile_short_dropdown">
                                     <li><a>@Html.ActionLink("O нас", "About", "Home", new { @class = "nav__link" })</a></li>
                                     <li><a>@Html.ActionLink("Галерея", "Galery", "Home", new { @class = "nav__link" })</a></li>
                                     <li><a>@Html.ActionLink("Контакты", "SendingData", "Home", new { @class = "nav__link" })</a></li>
                                 </ul>
                             </li>

                         </ul>

                     </div>
                 </nav>

             </div>
             <!-- /.navbar-collapse -->


         </div>
     </div>
     <!-- //navigation -->
     </div>
     <!-- //banner -->
     <div>
         @RenderBody()
     </div>


     <!-- footer -->
     <div class="footer">
         <div class="container">
             <div class="f-bg-w3l">
                 <div class="col-md-4 w3layouts_footer_grid" style="align-items: center">
                     <h2>Контактная информация</h2>
                     <ul class="con_inner_text">
                         <li>
                             <span class="fa fa-map-marker" aria-hidden="true"></span>
                             ЖК Комфорт Таун,
                             Пр-т Соборности 17,<br />
                             дом 2, подьезд 19, 1 этаж,
                             домофон - 1334
                         </li>
                         <li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:monastirska15032012@gmail.com">monastirska15032012@gmail.com</a></li>
                         <li><span class="fa fa-phone" aria-hidden="true"></span> <a href="tel:+380636888072" ">+38(063)6888072</a></li>
                     </ul>

                     <ul class="social_agileinfo">
                         <li><a href="https://www.instagram.com/sisters_____beauty/?igshid=8b3qflh1xv17" class="w3_instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                         <li><a href="https://www.instagram.com/kristina_monastirska/?utm_medium=copy_link" class="w3_instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                         <li><a href="https://www.instagram.com/karina_klymenko_beauty/?utm_medium=copy_link" class="w3_instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                         <li><a href="https://www.facebook.com/kristina.monastirska" class="w3_facebook"><i class="fa fa-facebook" target="_blank"></i></a></li>
                         <li><a href="https://www.facebook.com/karyna.klymenko" class="w3_facebook"><i class="fa fa-facebook" target="_blank"></i></a></li>

                     </ul>
                 </div>
                 <div class="col-md-4 w3layouts_footer_grid" tyle="align-items: center">
                     <div class="wthree_head_section">

                         <h3>
                             Форма обратной связи
                         </h3>
                         <div class="battonhere">
                             <a> @Html.ActionLink("Заполнить", "SendingData", "Home", new { @class = "btn btn-success" })</a>
                         </div>
                     </div>

                 </div>

                 <div class="col-md-4 w3layouts_footer_grid">
                     <h3>Галерея</h3>
                     <ul class="con_inner_text midimg">
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/cosmetologia6.jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/massag2.jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/massag1.jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/nail (4).jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/cosmetologia7.jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/mezhresnichnoe prostranstvo4.jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/oformlenie brovey (3).jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/nail (3).jpg" alt="" class="img-responsive" /></a></li>
                         <li><a href="@Url.Action("Galery", "Home")"><img src="~/images/cosmetologia8.jpg" alt="" class="img-responsive" /></a></li>

                     </ul>

                 </div>


                 <div class="clearfix"> </div>
             </div>
         </div>
         <p class="copyright">© 2017 Beauty Salon. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
     </div>
     <!-- //footer -->

     <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     <!-- //smooth scrolling -->
     <script type='text/javascript' src='~/js/jquery-2.2.3.min.js'></script>
     <script src="~/js/wow.min.js"></script>
     <!-- start-smoth-scrolling -->
     <script src="~/js/jarallax.js"></script>

     <script type="text/javascript">
         /* init Jarallax */
         $('.jarallax').jarallax({
             speed: 0.5,
             imgWidth: 1366,
             imgHeight: 768
         })
     </script>
     <!-- //Owl-Carousel-JavaScript -->
     <script type="text/javascript" src="~/js/move-top.js"></script>
     <script type="text/javascript" src="~/js/easing.js"></script>
     <script type="text/javascript">
         jQuery(document).ready(function ($) {
             $(".scroll").click(function (event) {
                 event.preventDefault();
                 $('html,body').animate({
                     scrollTop: $(this.hash).offset().top
                 }, 1000);
             });
         });
     </script>
     <!-- start-smoth-scrolling -->
     <!-- here stars scrolling icon -->
     <script type="text/javascript">
         $(document).ready(function () {
             /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear'
                 };
             */

             $().UItoTop({
                 easingType: 'easeOutQuart'
             });

         });
     </script>

     <!-- //here ends scrolling icon -->
     <!--js for bootstrap working-->
     <script src="~/js/bootstrap.js"></script>
     <!-- //for bootstrap working -->
 </body>
</html>