<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    
    <link href="~/css/style-starter.css" rel="stylesheet" />
 
    <a href="~/fonts/fontawesome-webfont.eot"></a>


    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    <a href="~/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/fonts/FontAwesome.otf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.eot"></a>
    <a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff2"></a>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>




<body>

    <!---------------------------------------------w3l-header------------------------------------------------------->



    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">
               
            
                <nav class="nav" id="nav">
                   
                    <a>@Html.ActionLink("Головна", "Index", "Home", new {@class = "nav__link"})</a>
                    <a>@Html.ActionLink("Послуги", "Services", "Home", new {@class = "nav__link"})</a>
                    <a>@Html.ActionLink("Про нас", "About", "Home", new {@class = "nav__link"})</a>
                    <a>@Html.ActionLink("Контакти", "Contact", "Home", new {@class = "nav__link"})</a>
                    <a>@Html.ActionLink("Прайс", "Price", "Home", new {@class = "nav__link"})</a>
                </nav>
            </div>

        </div>
        <button class="nav-toggle" id="nav_toggle" type="button">
            <span class="nav-toggle__item">Menu</span>
        </button>
    </header>

    <div>
        @RenderBody()
    </div>


    <!---------------------------------------------------- footer-66 --------------------------------------------------------------------->
    <footer class="w3l-footer-66">
        <!-- footer -->
        <div class="footer-66-info">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-6 footer-grid_section_w3layouts pr-lg-5">
                        
                            <h3 class="footer-title">Запис на консультацію  097-967-97-22</h3>
                    
                        
                        

                        <ul>

                            <a>@Html.ActionLink("Головна", "Index", "Home", new { @class = "nav__link" })</a>


                            <a>@Html.ActionLink("Послуги", "Services", "Home", new { @class = "nav__link" })</a>


                            <a>@Html.ActionLink("Про нас", "About", "Home", new { @class = "nav__link" })</a>


                            <a>@Html.ActionLink("Контакти", "Contact", "Home", new { @class = "nav__link" })</a>


                            <a>@Html.ActionLink("Прайс", "Price", "Home", new { @class = "nav__link" })</a>

                        </ul>

                        <div style="margin:70px;">
                            <a>@Html.ActionLink("Записатися на прийом", "SendingData", "Home", new { @class = "btn1" })</a>
                        </div>

                    </div>
                    <div class="col-lg-6 footer-right">

                        <div class="bottom-w3layouts-sec-nav">


                            <div class="col-md-12 footer-grid_section_w3layouts ">
                                
                                
                                <h3 class="footer-title">Графік роботи</h3>
                                <ul class="wrk-schedule-block">
                                    <li>Понеділок<span class="schedule-time">09:00 – 18:00</span></li>
                                    <li>Вівторок<span class="schedule-time">09:00 – 18:00</span></li>
                                    <li>Середа<span class="schedule-time">09:00 – 18:00</span></li>
                                    <li>Четвер<span class="schedule-time">09:00 – 18:00</span></li>
                                    <li>П'ятниця<span class="schedule-time">09:00 – 18:00</span></li>
                                    <li>Субота<span class="schedule-time">Вихідний</span></li>
                                    <li>Неділя<span class="schedule-time">Вихідний</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="cpy-right py-3">
            <p class="text-center">
                © 2020 Dentile. All rights reserved | Design by
                <a href="http://w3layouts.com"> W3layouts.</a>
            </p>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-level-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </footer>
    <!--//footer-66 -->




</body>
</html>






<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/all.js"></script>
<script src="~/js/app.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-2.1.4.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/modernizer.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="~/js/app.js"></script>
